<html>
<head>
    <title>user2::register</title>
    <script>
        window.onload = function (){
            const form = document.formUser2;

            form.onsubmit = function (e){
                e.preventDefault();
                alert('전송!✨');

                const uid = form.uid.value;
                const name = form.name.value;
                const birth = form.birth.value;
                const age = form.age.value;
                const addr = form.addr.value;
                const email = form.email.value;
                const hp = form.hp.value;

                const jsonData = {
                    "uid" : uid,
                    "name" : name,
                    "birth" : birth,
                    "age" : age,
                    "addr" : addr,
                    "email" : email,
                    "hp" : hp
                }

                fetch('/ch09/user2', {
                    method : 'POST',
                    headers : {'Content-Type' : 'application/json'},
                    body : JSON.stringify(jsonData)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch((err)=>{
                        console.log(err);
                    });
            }
        }
    </script>
</head>

<body>
    <h3>user2 등록</h3>
    <a th:href="@{/}">메인</a>
    <a th:href="@{/user2/list}">목록</a>
    <form name="formUser2" method="post">
        <table border="1">
            <tr>
                <td>아이디</td>
                <td><input type="text" name="uid"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td><input type="date" name="birth"></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="addr"></td>
            </tr>
            <tr>
                <td>나이</td>
                <td><input type="number" name="age"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td><input type="text" name="hp"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="등록"></td>
            </tr>
        </table>
    </form>
</body>
</html>
