<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024/03/14
        이름 : 이예나
        내용 : ch09.Spring REST API 실습하기


        Swagger API 문서
           - springdoc-openapi-starter-webmvc-ui 의존성 추가
           - SwaggerConfig 설정
           - http://localhost:8080/ch09/swagger-ui/index.html 접속

    -->
</head>
<body>
    <h3>🎈ch09.Spring REST API 실습하기</h3>

    <h4>✨user1 REST API 실습</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{user1/list}">user1 목록</a>

    <h4>✨user2 REST API 실습</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{user2/list}">user2 목록</a>

    <h4>✨user3 REST API 실습</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{user3/list}">user3 목록</a>

    <h4>✨user4 REST API 실습</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{user4/list}">user4 목록</a>

    <h4>✨user5 REST API 실습</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{user5/list}">user5 목록</a>

</body>
</html>