<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024/03/12
        이름 : 이예나
        내용 : ch07.Spring Data JPA 실습하기
    -->
</head>
<body>
    <h3>🎈ch07.Spring Data JPA 실습하기</h3>

    <h4>🐳JPA 기본</h4>

    <h4>user1 실습</h4>
    <a th:href="@{/user1/list}">user1 목록</a>
    <a th:href="@{/user1/register}">user1 등록</a>

    <h4>user2 실습</h4>
    <a th:href="@{/user2/list}">user2 목록</a>
    <a th:href="@{/user2/register}">user2 등록</a>

    <h4>user3 실습</h4>
    <a th:href="@{/user3/list}">user3 목록</a>
    <a th:href="@{/user3/register}">user3 등록</a>

    <h4>user4 실습</h4>
    <a th:href="@{/user4/list}">user4 목록</a>
    <a th:href="@{/user4/register}">user4 등록</a>

    <h4>user5 실습</h4>
    <a th:href="@{/user5/list}">user5 목록</a>
    <a th:href="@{/user5/register}">user5 등록</a>
</body>
</html>











