<html>
    <head>
        <title>user4::modify</title>

        <script>
            window.onload = function (){
                const form = document.formUser4;

                // 현재 url 파라미터 값 가져오기
                const url = location.href;
                const param = url.split('?')[1];
                const uid = param.split('?')[1];

                // 수정 데이터 요청
                fetch(`/ch09/user4/${uid}`)
                    .then(response => response.json())
                    .then(data => {
                        form.uid.value = data.uid;
                        form.name.value = data.name;
                        form.gender.value = data.gender;
                        form.age.value = data.age;
                        form.addr.value = data.addr;
                        form.hp.value = data.hp;
                    })
                    .catch((err => {
                        console.log(err);
                    }));
                // 수정 요청하기
                form.onsubmit = function (e) {
                    e.preventDefault();

                    const jsonData = {
                        "uid" : form.uid.value,
                        "name" : form.name.value,
                        "gender" : form.gender.value,
                        "age" : form.age.value,
                        "addr" : form.addr.value,
                        "hp" : form.hp.value
                    }

                    fetch(`/ch09/user4`, {
                        method : 'PUT',
                        headers : {'Context-Type' : 'application/json'},
                        body : JSON.stringify(jsonData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            alert('수정완료!✨');
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }
            }
        </script>
    </head>

    <body>
    <h3>user4 수정</h3>
    <a th:href="@{/}">메인</a>
    <a th:href="@{/user4/list}">목록</a>
    <form name="formUser4" method="post">
        <table border="1">
            <tr>
                <td>아이디</td>
                <td><input type="text" name="uid"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <label><input type="radio" name="gender" value="F">여자</label>
                    <label><input type="radio" name="gender" value="M">남자</label>
                </td>
            </tr>
            <tr>
                <td>나이</td>
                <td><input type="number" name="age" min="0"></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td><input type="text" name="hp"></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="addr"></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="등록"></td>
            </tr>
        </table>

    </form>
    </body>
</html>
