<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">

<!--
    날짜 : 2024/03/25
    이름 : 이예나
    내용 : 비밀번호 찾기 구현하기

    - http://localhost:8080/sboard/user/findPassword
    - 인증된 이메일과 아이디로 사용자 조회
    - 해당하는 사용자가 조회 되면 비밀번호 변경 페이지 이동
-->
<div class="container" layout:fragment="content">

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 찾기</h3></div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="inputUid" name="uid" placeholder="아이디 입력" />
                            <label for="inputUid">아이디 입력</label>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" id="inputEmail" name="email" placeholder="이메일 입력" />
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnSendCode" data-type="email">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">이메일 인증</span>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" />
                                    <label for="inputEmailCode">인증번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckCode">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">인증확인</span>
                                </button>
                            </div>
                        </div>

                        <div id="resultEmailCode" class="d-block"></div>


                        <p class="small">
                            비밀번호를 찾고자 하는 아이디와 이메일을 입력해 주세요.<br>
                            회원가입시 입력한 아이디와 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                            인증번호를 입력 후 확인 버튼을 누르세요.<br>
                        </p>

                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/findPasswordChange}" class="btn btn-primary">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>