<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/userLayout.html">

<div class="container" layout:fragment="content">

    <script>

        //유효성 검사에 사용할 상태변수
        let isUidOk   = false;
        let isPassOk  = false;
        let isNameOk  = false;
        let isNickOk  = false;
        let isEmailOk = false;
        let isHpOk    = false;

        // 유효성 검사에 사용할 정규표현식
        const reUid   = /^[a-z]+[a-z0-9]{4,19}$/g;
        const rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
        const reName  = /^[가-힣]{2,10}$/
        const reNick  = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
        const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        const reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;


        window.onload = function (){


            // 유효성 검사
            const formUser = document.registerForm;
            formUser.onsubmit = function (){

                if(!isUidOk){
                    showModal('아이디가 유효하지 않습니다.');
                    return false;
                }
                if(!isPassOk){
                    showModal('비밀번호가 유효하지 않습니다.');
                    return false;
                }
                if(!isNameOk){
                    showModal('이름이 유효하지 않습니다.');
                    return false;
                }
                if(!isNickOk){
                    showModal('별명이 유효하지 않습니다.');
                    return false;
                }
                if(!isEmailOk){
                    showModal('이메일이 유효하지 않습니다.');
                    return false;
                }
                if(!isHpOk){
                    showModal('휴대폰 번호가 유효하지 않습니다.');
                    return false;
                }
                // 아이디 유효성 검사
                // 비밀번호 유효성 검사
                // 이름 유효성 검사
                // 별명 유효성 검사
                // 휴대폰 유효성 검사
                // 이메일 유효성 검사

            }


            /*
            const btnCheckUsers = document.querySelectorAll('.btnCheckUser');
            const resultUsers = document.getElementsByClassName('resultUser');

            for(const [i, btnCheckUser] of btnCheckUsers.entries()){

                console.log('i : ' + i);

                // 화살표 함수 쓰면 이벤트 객체 target 또는 this 참조 안됨
                btnCheckUser.onclick = function() {

                    const type       = this.dataset.type;
                    const spinner    = this.getElementsByClassName('spinner')[0];
                    const resultUser = resultUsers[i];
                    spinner.classList.remove('d-none');

                    console.log('type : ' + type);

                    setTimeout(async () => {

                        const input = document.registerForm[type];
                        console.log('value : ' + input.value);

                        const data = await fetchData(`/sboard/user/${type}/${input.value}`);

                        if(data.result > 0){
                            spinner.classList.add('d-none');
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');

                            resultUser.classList.add('invalid-feedback');
                            resultUser.innerText = '이미 사용중인 아이디 입니다.';
                        }else{
                            spinner.classList.add('d-none');
                            input.classList.remove('is-invalid');
                            input.classList.add('is-valid');

                            resultUser.classList.add('valid-feedback');
                            resultUser.innerText = '사용 가능한 아이디 입니다.';
                        }
                    }, 1000);
                }
            }
            */

        }


    </script>

    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">회원가입</h3></div>
                <div class="card-body">
                    <form th:action="@{/user/register}" name="registerForm" method="post">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputUid" type="text" name="uid" placeholder="아이디 입력"/>
                                    <label for="inputUid">아이디 입력</label>
                                </div>
                                <div class="resultUser d-block"></div>

                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-secondary btnCheckUser" data-type="uid">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">중복확인</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputPass1" type="password" name="pass" placeholder="비밀번호 입력"/>
                                    <label for="inputPass1">비밀번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputPass2" type="password" name="pass2" placeholder="비밀번호 입력 확인"/>
                                    <label for="inputPass2">비밀번호 입력 확인</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputName" name="name" type="text" placeholder="이름 입력"/>
                                    <label for="inputName">이름 입력</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputNick" name="nick" type="text" placeholder="별명 입력"/>
                                    <label for="inputNick">별명 입력</label>
                                </div>
                                <div class="resultUser d-block"></div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-secondary btnCheckUser" data-type="nick">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">중복확인</span>
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputHp" name="hp" type="text" placeholder="휴대폰 입력"/>
                                    <label for="inputHp">휴대폰 입력</label>
                                </div>
                                <div class="resultUser d-block"></div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-secondary btnCheckUser" data-type="hp">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">중복확인</span>
                                </button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputEmail" name="email" type="text" placeholder="이메일 입력"/>
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-secondary">이메일 인증</button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputZip" name="zip" type="text" placeholder="우편번호 검색"/>
                                    <label for="inputZip">우편번호 검색</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-secondary">우편번호 검색</button>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputAddr1" type="addr1" placeholder="기본주소 입력" />
                            <label for="inputAddr1">기본주소</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputAddr2" type="addr2" placeholder="상세주소 입력"/>
                            <label for="inputAddr2">상세주소 입력</label>
                        </div>

                        <div class="text-center mt-4 mb-0">
                            <a class="btn btn-secondary" th:href="@{/user/login}">취소</a>
                            <input type="submit" class="btn btn-primary" value="회원가입"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</html>