<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024/03/13
        이름 : 이예나
        내용 : ch08.Spring Security 실습하기
    -->
</head>
<body>
    <h3>🎈ch08.Spring Security 실습하기</h3>

    <h4>✨Spring Security 기반 인증</h4>
    <a th:href="@{/user1/login}">user1 실습</a>

    <h4>✨Spring Security 기반 인증</h4>
    <a th:href="@{/user2/login}">user2 실습</a>

    <h4>✨Session Annotation 기반 인증</h4>
    <a th:href="@{/user3/login}">user3 실습</a>

    <h4>✏️Spring Security 기반 인증 연습</h4>
    <a th:href="@{/user4/login}">user4 실습</a>

    <h4>✏️Spring Security 기반 인증 연습</h4>
    <a th:href="@{/user5/login}">user5 실습</a>

    <h4>✏️Session Annotation 기반 연습</h4>
    <a th:href="@{/user6/login}">user6 실습</a>
</body>
</html>